body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777; 
    background-color: #777;
    width: 960px;
    margin: 0 auto;
    font-size: 18px;
}

header {
    text-align: center;   
    padding: 10px 30px;
    background-color: lightgray;
    margin-top: 10px;
}

nav {
    text-align: center;
    margin-top: 10px;
    padding: 10px 30px;
    background-color: lightgray;
}

#sect {
    margin-top: 10px;
    width: 58%;
    background-color: lightgray;   
    float: left; /*This is for putting aside next to this section*/
    text-align: center;
    height: 350px; /* must match with aside{height:} */
}

article {
    background-color: #777;
    padding: 20px;
    margin: 10px;
}

#art {
    background-color: transparent;
    color: #ebebeb;
}

h1 {
    background-color: lightgray;
    padding: 10px;
    color: #777;
    margin-bottom: 2%;
    font-size: 16px;
}

p {
    background-color: lightgray;
    padding: 10px;
    color: #777;
    margin-bottom: 10%;
}

aside {
    width: 40%;
    background-color: lightgray;
    margin-top: 10px;
    text-align: center;
    margin-bottom:  10px;
    float: right;
    height: 350px; /* must match with #sect{height:} */
}

.clearfix {
    clear: both;
}

footer {
    text-align: center;
    margin-top: 10px;
    padding: 10px 30px;
    background-color: lightgray;
    margin-bottom: 30px;
}
